<h1> Time Series</h1>

Time Series is a collection of data points collected at constant time intervals. These are analyzed to determine the long term trend so as to forecast the future or perform some other form of analysis. But what makes a Time Series different from say a regular regression problem? There are 2 things:<br>

1. It is time dependent. So the basic assumption of a linear regression model that the observations are independent doesnâ€™t hold in this case.<br>
2. Along with an increasing or decreasing trend, most TS have some form of seasonality trends, i.e. variations specific to a particular time frame. For example, if you see the sales of a woolen jacket over time, you will invariably find higher sales in winter seasons.

<h1>Loading and Handling Time Series in Pandas </h1>

In [3]:

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams

In [30]:
data = pd.read_csv('AirPassengers.csv')
print(data.head())
print ('\n Data Types:')
print(data.dtypes)

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

 Data Types:
Month          object
#Passengers     int64
dtype: object

In [12]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
data = pd.read_csv('AirPassengers.csv', parse_dates=['Month'], index_col='Month',date_parser=dateparse)
print(data.head())

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [33]:
data.loc[:,'Month']=pd.to_datetime(data.Month)
print(data.dtypes)
#data.set_index(data['Month'],inplace=True,drop=True)

Month          datetime64[ns]
#Passengers             int64
dtype: object

In [34]:
data

                Month  #Passengers
Month
1949-01-01 1949-01-01          112
1949-02-01 1949-02-01          118
1949-03-01 1949-03-01          132
1949-04-01 1949-04-01          129
1949-05-01 1949-05-01          121
...               ...          ...
1960-08-01 1960-08-01          606
1960-09-01 1960-09-01          508
1960-10-01 1960-10-01          461
1960-11-01 1960-11-01          390
1960-12-01 1960-12-01          432

[144 rows x 2 columns]